.master-container {
    height: 100%;
    position: fixed;
    width: 100%;

.chat-container {
    display: grid;
    grid-template-columns: 10.5rem auto;
    grid-template-rows: auto;
    grid-template-areas: "left right";
   
    .users-list{
        grid-area: left;
        box-shadow: 2px 0px 1px 1px #e1e1e1;
        height: 100%;
        position: fixed;
    }
    .chat {
        grid-area: right;
    }
}
}